* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(216, 216, 216)
}

#mainheader {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

a,
a:visited,
a:hover,
a:focus,
a:hover, a:active {
    text-decoration: none;
    color: black;
}

.lasagna,
.steak,
.chicken {
    display: block;
    background: rgb(171, 209, 212);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    height: 200px;
    width: 300px;
    padding: 10px 20px;
    margin: 10px auto;
}

.food {
    display: block;
    height: auto;
    width: 310px;
    margin: 0 auto;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

