body {
    font-family: "Times New Roman", Verdana, serif;
}

h1 {
    font-weight: 900;
    text-align: center;
}

h2 {
    font-weight: bold;
}

.lasagna,
.steak,
.chicken {
    background: rgb(231, 228, 9);
    font-size: 24px;
    font-weight: bold;
}

.food {
    height: auto;
    width: 310px;
}